<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="jo_monitoring_instance" connectionString="server=192.168.18.183;database=jo_monitoring_db;user id=jo_monitoring;password=@jo_monitoring123" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
</configuration>
